{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Portfolio
{% endblock %}

{% block style %}

{% endblock %}

{% block body %}
  <div class="slider noJS">
    <div>
      <div class="slide slide--1">
        <h3 class="slide__title">
          <a class="slide__link" href="">1 Jakiś tytuł projektu</a>
        </h3>
      </div>
    </div>
    <div>
      <div class="slide slide--2">
        <h3 class="slide__title">
          <a class="slide__link" href="">2 Jakiś tytuł projektu</a>
        </h3>
      </div>
    </div>
  </div>
{% endblock %}
