{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} Portfolio
{% endblock %}

{% block body %}
    <div class="portfolio">
        <div class="globe">
            <section class="gallery"></section>
            <section class="me"></section>
        </div>
        <div class="you">

        </div>
    </div>
{% endblock %}