<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jakub Kułaga |{% endblock %}</title>
        {% block style %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('/build/app.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
      <div class="slider noJS">
        <div>
          <div class="slide slide--1">
            <h3 class="slide__title">
              <a class="slide__link" href="">1 Jakiś tytuł projektu</a>
            </h3>
          </div>
        </div>
        <div>
          <div class="slide slide--2">
            <h3 class="slide__title">
              <a class="slide__link" href="">2 Jakiś tytuł projektu</a>
            </h3>
          </div>
        </div>
      </div>

        {% block javascripts %}
            <script>
                __REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__
            </script>
            <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
