$small:576px;
$medium:720px;
$large:960px;
$extra_large:1200px;

$extra_small: "only screen and (max-width : #{$small})";
$small: "only screen and (min-width : #{$small}) and (max-width : #{$medium})";
$medium: "only screen and (min-width : #{$medium}) and (max-width : #{$large})";
$large: "only screen and (min-width : #{$large}) and (max-width : #{$extra_large})";
$extra_large: "only screen and (min-width : #{$extra_large})";
