$ghostAnimationDuration: 5s;
.ghost{
   width: 250px;
   height: 250px;
   border-radius: 300px;
   background-color: white;
   &--green::after{
     background-color: #0cff00;
     background-image: url('../img/green_ghost.gif');
   }

   &--orange::after{
     background-color: orange;
     background-image: url('../img/orange_ghost.gif');
   }

  &::after{
    content: '';
    width: 200px;
    height: 222px;
    background-repeat: no-repeat;
    bottom: -100px;
    right: -51px;
    position: absolute;
    z-index: -1;
    background-size: 100% 100%;
  }
  &__title{
    text-align: center;
    font-size: 2em;
    padding: 10px;
  }

  &__content{
    display: flex;
    flex-flow: column wrap;
    padding: 0px 0px;
    margin: 0 29px;
    justify-content: flex-start;
    a{
      margin-top:0.3em;
    }
  }

}
