@import "./cornerPhoto";
// @import "modules/slider";
.tns-outer{
  padding:40px;
  // margin-left: auto;
  // margin-right: 5%;
  // margin-top: 20px;
}
.slider{
  margin-top: 20px;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__view{
    height: 80%;
    width: 80%;
    position: relative;
  }
  &__slide{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img{
    max-width: 100%;
    max-height: 100%;
    border:2px solid white;
  }
}
.menu__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.menu{
  width: 100%;
  color:white;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  &__link{
    padding: 5px;
    color:white;
    text-decoration: none;
    text-transform: capitalize;
  }
}

.noJS{
   .menu{
    background-color: black;
    &__nav{
      display: block;
    }
    &__list{
      display: flex;
      flex-flow:column nowrap;
      align-items: center;
      &--inner{
        display: none;
      }
    }
    &__item{
      padding: 10px;
    }
    &__link{
      &:hover{
        background-color: lighten($main-color, 30%);
        border-radius: 30px;
      }
    }
  }
}

.slicknav{
  &_nav{
    clear: none;
    margin-left: $photoW-rect;
  }
  &_menu{
    background-color: $main-color;
    .menu__list{
      text-align:center;
      margin:0;
    }
    .menu__item{
      margin-bottom: 10px;
    }
    .menu__link, .slicknav_item, .menu__link--inner{
      display: inline-block;
    }
  }
}


@media only screen and (max-width : #{$medium}) {
  .menu__nav, .menu__silder{
    display: none;
  }
}

@media only screen and (min-width : #{$medium}){
  .cornerPhoto{
    &__wrap{
      width: 139px;
      height: 200px;
      border-bottom-right-radius: 105px;
      box-shadow: 0px -1px 13px white;
      border-right: 10px solid $main-complementary-color;
      &__img{
        height: 97%;
      }
    }
  }
  .menu{
    &__photo{
      width: 240px;
      height: 240px;
    }
    &__nav{
      margin-left: 280px;
      padding-top: 20px;
    }
    &__link{
      padding:10px;
      font-size: 2em;
      border:1px solid transparent;
      &--inner{
        margin:0 5px;
        padding: 2px 5px;
        font-size: 1em;
      }
    }
    &__item{
      margin-bottom: 20px;
      display: flex;
      align-items: flex-end;
      padding-bottom: 10px;
      &:nth-of-type(1){
        margin-left: -10px;
        text-shadow: 1px 1px 10px green;
        .menu__link{
          &:hover{
            text-shadow: 1px 1px 10px lighten(green, 70%);
            transition:all 0.2s linear;
          }
        }
      }
      &:nth-of-type(2){
        text-shadow: 1px 1px 10px purple;
        margin-left: -50px;
        .menu__link{
          &:hover{
            text-shadow: 1px 1px 10px lighten(purple, 70%);
            transition:all 0.2s linear;
          }
        }
      }
      &:nth-of-type(3){
        text-shadow: 1px 1px 10px orange;
        margin-left: -150px;
        .menu__link{
          &:hover{
            text-shadow: 1px 1px 10px lighten(orange, 70%);
            transition:all 0.2s linear;
          }
        }
      }
    }
    &__list{
      &--inner{
        display: flex;
      }
    }
  }
  .slicknav_menu{
    display: none;
  }
}
