$main-color:#2c3e50;
$complementary-color:#503a2c;
.portfolio{
  font-size: 10px;
  background-color: $main-color;
  min-height: 400px; 
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px;
  &__photoWrap{
    background-color: transparent;
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 0px;
    &__img{
      position: absolute;
      height: 100%;
      width: auto;
      margin: 0;
    }
  }
  &__item, &__item__title, &__item__content{
    display: block;
    margin: 0px;
    padding-left: 0;
    padding-top: 0;
  }
  &__item{
    min-width: 60%;
    &__title{
      padding: 1em;
      font-size: 2em;
      text-transform: capitalize;
    }
    &__link{
      text-decoration: none;
      margin:0 5px;
      color:white;
    }
  }
}
@media #{$screen_small}{
  .portfolio{
    display: block;
    padding: 0px;
    font-size: 14px;
    &__photoWrap{
      float: left;
      width: 300px;
      height: 300px;
      border-bottom-right-radius: 300px;
      background-color: white;
      box-shadow: 0px -1px 13px white;
      border-right: 10px solid $complementary-color;
      &__img{
        position: relative;
        height: auto;
        box-shadow: 10px 10px 10px $main-color;
        margin-left: 18px;
        margin-top: 18px;
      }
    }
    &__item{
      display: flex;
      align-items: center;
      min-width: 0;
      margin-bottom: 0;
      padding: 1em;
      &:first-of-type{
        padding-top: 20px;
      }
      &--me{
        padding-left: 70px;
      }
      &--web{
        padding-left: 30px;
      }
      &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        &--music{
          margin-left:-25px;
        }
        &--you{
          margin-left: -60px;
        }
      }
      &__content{
        display: inline-block;
        padding-left: 1em;
      }
    }
  }
}
